<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bamboy.bamboycollected">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_bamboy"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 启动页 -->
        <activity android:name=".page.launch.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主页 -->
        <activity android:name=".page.main.MainActivity" />

        <!-- Toast页 -->
        <activity android:name=".page.toast.ToastActivity" />

        <!-- 高斯模糊页 -->
        <activity android:name=".page.blur.BlurActivity" />

        <!-- 自动换行页 -->
        <activity android:name=".page.auto_line.AutoLineActivity" />

        <!-- 分批加载页 -->
        <activity android:name=".page.divide_load.DivideLoadActivity" />

        <!-- 点击动画页 -->
        <activity android:name=".page.anim_click.AnimClickActivity" />
    </application>

</manifest>
