<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bamboy.bamboycollected">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_bamboy"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 关于Flyme的3D Press。(name值必须为"android.3dtouch.launcher_menu") -->
        <meta-data
            android:name="android.3dtouch.launcher_menu"
            android:resource="@xml/launcher_menu" />

        <!-- 启动页 -->
        <activity android:name=".page.launch.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主页 -->
        <activity android:name=".page.main.MainActivity" />

        <!-- Toast页 -->
        <activity android:name=".page.toast.ToastActivity" >
            <!-- 用于接收压力触控的过滤器-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.bamboy.bamboycollected.page.toast"
                    android:path="/a1"
                    android:scheme="flyme_3dtouch" />
            </intent-filter>
        </activity>

        <!-- 高斯模糊页 -->
        <activity android:name=".page.blur.BlurActivity" >
            <!-- 用于接收压力触控的过滤器-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.bamboy.bamboycollected.page.blur"
                    android:path="/a1"
                    android:scheme="flyme_3dtouch" />
            </intent-filter>
        </activity>

        <!-- 自动换行页 -->
        <activity android:name=".page.auto_line.AutoLineActivity" />

        <!-- 分批加载页 -->
        <activity android:name=".page.divide_load.DivideLoadActivity" />

        <!-- 点击动画页 -->
        <activity android:name=".page.anim_click.AnimClickActivity" >
            <!-- 用于接收压力触控的过滤器-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.bamboy.bamboycollected.page.anim_click"
                    android:path="/a1"
                    android:scheme="flyme_3dtouch" />
            </intent-filter>
        </activity>

        <!-- 非约束列表页 -->
        <activity android:name=".page.freedom.FreedomListActivity">
            <!-- 用于接收压力触控的过滤器-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.bamboy.bamboycollected.page.freedom"
                    android:path="/a1"
                    android:scheme="flyme_3dtouch" />
            </intent-filter>
        </activity>
    </application>

</manifest>
