<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bamboy.bamboycollected">

    <application
        android:name=".page.application.BamApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_bamboy"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 关于Flyme的3D Press。(name值必须为"android.3dtouch.launcher_menu") -->
        <meta-data
            android:name="android.3dtouch.launcher_menu"
            android:resource="@xml/launcher_menu" />

        <!-- 主页 -->
        <activity android:name=".page.main.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 用于接收压力触控的过滤器 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.bamboy.bamboycollected.page.main"
                    android:path="/freemod"
                    android:scheme="flyme_3dtouch" />
                <data
                    android:host="com.bamboy.bamboycollected.page.main"
                    android:path="/blus"
                    android:scheme="flyme_3dtouch" />
                <data
                    android:host="com.bamboy.bamboycollected.page.main"
                    android:path="/toast"
                    android:scheme="flyme_3dtouch" />
                <data
                    android:host="com.bamboy.bamboycollected.page.main"
                    android:path="/click"
                    android:scheme="flyme_3dtouch" />
            </intent-filter>
        </activity>

        <!-- Toast页 -->
        <activity android:name=".page.toast.ToastActivity"
            android:screenOrientation="portrait" />

        <!-- 高斯模糊页 -->
        <activity android:name=".page.blur.BlurActivity"
            android:screenOrientation="portrait" />

        <!-- 自动换行页 -->
        <activity android:name=".page.auto_line.AutoLineActivity"
            android:screenOrientation="portrait" />

        <!-- 分批加载页 -->
        <activity android:name=".page.divide_load.DivideLoadActivity"
            android:screenOrientation="portrait" />

        <!-- 点击动画页 -->
        <activity android:name=".page.anim_click.AnimClickActivity"
            android:screenOrientation="portrait" />

        <!-- 非约束列表页 -->
        <activity android:name=".page.freedom.FreedomListActivity"
            android:screenOrientation="portrait" />

        <!-- 节点进度条页 -->
        <activity android:name=".page.progress.ProgressActivity" android:screenOrientation="portrait" />
        <activity android:name=".page.progress.ActNoun" android:screenOrientation="portrait" />
        <activity android:name=".page.progress.ActSlope" android:screenOrientation="portrait" />
        <activity android:name=".page.progress.ActMoveNumber" android:screenOrientation="portrait" />

        <!-- 右滑关闭 -->
        <activity android:name=".page.slidingshut.SlidingShutActivity" />
        <activity android:name=".page.slidingshut.AssignViewActivity" />
        <activity android:name=".page.slidingshut.ColorBackdropActivity" />
        <activity android:name=".page.slidingshut.InterceptFinishActivity" />
        <activity android:name=".page.slidingshut.StartInstantlyActivity" />
        <activity android:name=".page.slidingshut.UpFinishActivity" />

        <!-- 物流卡片 -->
        <activity android:name=".page.expresscard.ExpressCardActivity"
            android:screenOrientation="portrait" />

        <!-- 物流卡片 -->
        <activity android:name=".page.viewflipper.ViewFlipperActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>